body {
  margin: 0;
}

/* Banner */
header {
  width: 100%;
  height: 300px;
  background-color: orangered;
  text-align: center;
  color: #FFDF00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  padding-top: 20px;
}








/* Background Component */
section {
  width: 100%;
  height: 500px;
  background-color: 	#FFDF00;
  margin: auto;
  padding: 20px;
}

#image1 {
  background-image: url(images/imageOne.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
  padding-top: 60px;
  text-align: center;
  font-family: cursive;
  color: darkslategrey;
  font-size: 2em;
}

#image3 {
  background-image: url(images/imageOne.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
}

#image2 {
  background-image: url(images/imageOne.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
}
